<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="google.java">
        <classes><class name="com.automation.Jenkins.Google"><methods><include name="testsearch"/></methods></class></classes></test></suite>